# Rust's folder for its build artifacts.
/target

# SOM files at the project root are considered test files.
/*.som

# File indexing cache file for macOS.
.DS_Store

# Folders for workspace-specific configurations of code editors.
/.vscode
/.nova
/.idea

# Folder to put files not intended to be pushed (like temporary files)
/ignored

# Rebench stuff
payload.json
rebench.data

# perf stuff + interps i keep around for perf stuff
*.data
som-interp-ast
som-interp-bc

# AWFY benchmarks
are-we-fast-yet/

# used when building mmtk from source to do better debugging
mmtk-core/

# profiler data
*.mm_profdata
